fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib
bcrypt
python-multipart
email-validator
python-dotenv
scikit-learn==1.7.2
joblib
numpy
torch
transformers
langdetect==1.0.9
openpyxl
xlrd==1.2.0
